@charset "utf-8";
/*-------------Fonts---------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900|Poppins:400,500,600,700,800,900|Titillium+Web:400,600,700&subset=cyrillic,cyrillic-ext,devanagari,latin-ext,vietnamese');

/*-------------General Style---------------------------------------*/

html {
	overflow-x: hidden !important;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: 13px;
	height: 100%;
	text-align: center;
	background: #2D2D32;
	color: #000;
	font-family: 'Titillium Web', sans-serif;
}
@-o-viewport {
	width: device-width;
}
@-ms-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}
/* ---------Page preload--------------------------------------*/

.loader-wrap {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 200;
	background: #2A2A2E;
	top: 0;
	overflow: hidden;
	left: 0;
	-webkit-transform: translate3d(0, 0, 0);
}
.pin {
	position: absolute;
	top: 50%;
	left: 30%;
	margin-left: 50px;
	width: 200px;
	height: 40px;
	text-transform: uppercase;
	letter-spacing: 10px;
	font-size: 12px;
	font-weight: 400;
	margin-top: -20px;
	color: rgba(255, 255, 255, 0.31);
	font-family: 'Poppins', sans-serif;
	text-align: left;
}
.pin:after {
	content: "Image Captioning : ";
	position: absolute;
	left: -100%;
	color: rgba(255, 255, 255, 0.51);
}
.pin:before {
	content: "Loading";
	position: absolute;
	overflow: hidden;
	left: 55%;
	max-width: 0;
	text-align: left;
	animation: pinanim 2.2s ease-out infinite;
}
@keyframes pinanim {
	0% {
		max-width: 0;
	}
	100% {
		max-width: 100%;
	}
}
/*--------------Typography--------------------------------------*/
p {
	font-size: 11px;
	line-height: 24px;
	padding-bottom: 10px;
	font-weight: 500;
	color: #878C9F;
	font-family: 'Poppins', sans-serif;
}
/*--------------General--------------------------------------*/
#main {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	opacity: 0;
}
.fl-wrap {
	float: left;
	width: 100%;
	position: relative;
}
.content {
	float: left;
	width: 100%;
	position: relative;
	padding-left: 80px;
	z-index: 5;
}
.content.full-height {
	z-index: 6;
}
.container {
	max-width: 1224px;
	width: 92%;
	margin: 0 auto;
	position: relative;
	z-index: 5;
}
.respimg {
	width: 100%;
	height: auto;
}
/* ------header------------------------------------------------------------ */
/*------ navigation  ------------------------------------------------*/


.subcribe-form {
	margin-top: 28px;
}
.subcribe-form input.enteremail {
	float: left;
	width: 65%;
	border: none;
	background: rgba(255, 255, 255, 0.11);
	padding: 15px 20px;
	position: relative;
	z-index: 1;
	color: #fff;
}
.subcribe-form input.enteremail::-webkit-input-placeholder {
	color: #fff;
	font-weight: 400;
	font-size: 12px;
}
.subcribe-form .subscribe-button {
	position: absolute;
	top: 0;
	right: 0;
	width: 35%;
	z-index: 2;
	padding: 15px 0;
	color: #fff;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border: none;
	cursor: pointer;
}
.subscribe-button-email{
	border-radius: 4px;
}
.subcribe-form .subscribe-button i {
	padding-right: 10px;
}
.subscribe-message {
	margin-top: 10px;
	text-align: left;
	color: #fff;
	float:left;
	width:100%;
}
.scroll-nav-wrap {
	position: absolute;
	bottom: 0;
	height: 80px;
	left: 80px;
	right: 0;
	background: #2D2D32;
	z-index: 5;
	width: 100%;
}
.scroll-nav {
	float: left;
	padding: 23px 40px 0;
	height: 100%;
	border-right: 1px solid rgba(255, 255, 255, 0.11);
	background: #2A2A2E;
}
.scroll-nav li {
	float: left;
	margin-right: 10px;
}
.scroll-nav li a {
	float: left;
	padding: 13px 35px;
	color: #8B8B8B;
	font-weight: 600;
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	position: relative;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}
.scroll-nav li a:after,
.scroll-nav li a:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 15px;
	height: 2px;
	margin-top: -1px;
}
.scroll-nav li a:before {
	background: rgba(255, 255, 255, 0.091);
	z-index: 1;
}
.scroll-nav li a:after {
	width: 0;
	z-index: 2;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}
.scroll-nav a.act-scrlink:after {
	width: 15px;
}
/* ------footer------------------------------------------------------------ */

.main-footer {
	position: fixed;
	background: #2A2A2E;
	z-index: 2;
	left: 80px;
	bottom: 0;
	right: 0;
	z-index: 2;
	overflow: hidden;
	-webkit-transform: translate3d(0, 0, 0);
}
.height-emulator {
	z-index: 1;
}
.footer-inner {
	z-index: 3;
	padding: 110px 0 70px;
}
.subfooter {
	background: #2D2D32;
	height: 80px;
	z-index: 3;
	padding: 0 90px;
}
.policy-box {
	color: rgba(255, 255, 255, 0.71);
	float: left;
	padding-top: 36px;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 10px;
	letter-spacing: 2px;
}
.to-top-letter {
	position: relative;
	float: left;
	width: 100%;
	height: 30px;
	left: -40px;
	line-height: 10px;
	font-size: 11px;
	color: #292929;
	text-transform: uppercase;
	font-weight: 700;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.to-top-letter:first-child {
	padding-top: 22px;
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}
.to-top-letter:nth-child(2) {
	padding-top: 10px;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}
.to-top-letter:nth-child(3) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
.to-top {
	position: absolute;
	top: -45px;
	right: 0;
	width: 40px;
	height: 90px;
	color: #fff;
	overflow: hidden;
	font-size: 24px;
	border: 1px solid rgba(255, 255, 255, 0.08);
	background: #2A2A2E;
}

.to-top i {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	z-index: 2;
	top: 0;
	line-height: 90px;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.to-top:hover i {
	left: -40px;
}
.to-top:hover .to-top-letter {
	left: 0;
}
.footer-socilal li {
	float: left;
	position: relative;
	margin-right: 20px;
}
.footer-socilal li a {
	float: left;
	width: 36px;
	height: 36px;
	line-height: 36px;
	color: rgba(255, 255, 255, 0.41);
	font-size: 12px;
	border: 1px solid rgba(255, 255, 255, 0.08);
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}
.footer-socilal li a:hover {
	border-radius: 100%;
	color: #fff;
}
.footer-box p {
	text-align: left;
	color: rgba(255, 255, 255, 0.71);
	font-weight: 400;
}
.footer-header {
	text-align: left;
	color: #fff;
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 20px;
	padding-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-bottom: 1px dotted rgba(255, 255, 255, 0.11);
}
.footer-header span {
	padding-right: 10px;
}

.footer-title span {
	position: absolute;
	left: -120px;
	opacity: 0.2;
	margin-top: 45%;
	margin-left: -20%;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 64px;
	letter-spacing: 6px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	color: #fff;
}
.footer-title span:before {
	content: "";
	position: absolute;
	bottom: -20px;
	left: 50%;
	width: 100px;
	height: 1px;
	background: #fff;
	margin-left: -50px;
}

/*------Button ------------------------------------------------*/

.btn {
	padding: 15px 30px;
	position: relative;
	margin-top: 10px;
	font-size: 10px;
	font-weight: 600;
	letter-spacing: 4px;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
	text-transform: uppercase;
	border-radius: 4px;
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.36);
}
.flat-btn:before {
	background: rgba(255, 255, 255, 0.29);
}
.flat-btn {
	border: 1px solid #000;
	color: #fff;
	background: #292929;
}
.float-btn {
	float: left;
}
.color-btn {
	color: #fff;
	border-color: transparent
}
.btn.color-btn:before {
	background: #fff;
}
.btn:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 20px;
	height: 1px;
	width: 0;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	transition: all 200ms linear;
}
.btn:hover:before {
	width: 30px;
}
.btn:hover {
	padding-left: 60px;
}
.mar-top {
	margin-top: 50px;
}
.mar-top-sm {
	margin-top: 20px;
}
.mar-bottom {
	margin-bottom: 50px;
}
/*--------------hero--------------------------------------*/

.scroll-down-wrap {
	float: left;
	height: 100%;
	position: relative;
	margin-left: 50px;
	padding-right: 50px;
	padding-top: 28px;
	border-right: 1px solid rgba(255, 255, 255, 0.11);
}
.scroll-down-wrap span {
	float: left;
	margin-left: 20px;
	position: relative;
	top: 8px;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 2px;
	color: #8B8B8B;
}
.promo-link {
	position: absolute;
	bottom: 40px;
	left: 50px;
	padding: 16px 55px 16px 70px;
	color: #fff;
	letter-spacing: 2px;
	border-radius: 2px;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 600;
	box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 0.4);
	z-index: 10;
}

/*------section ------------------------------------------------*/
section {
	position: relative;
	float: left;
	width: 100%;
	padding: 110px 0;
	background: #fff;
	overflow: hidden;
}
.dark-bg {
	background: #2A2A2E;
}

.fw-parallax .section-title h2 {
	color: #fff;
}
.horizonral-subtitle {
	position: absolute;
	left: -290px;
	top: 20%;
}
.horizonral-subtitle span {
	position: absolute;
	left: 0;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 84px;
	letter-spacing: 6px;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	color: rgba(255, 255, 255, 0.11);
	top: 0;
	white-space: nowrap;
}
section.parallax-section.parallax-sec-half-left .horizonral-subtitle {
	left: inherit;
	right: 70px;
}
section.parallax-section.parallax-sec-half-left .horizonral-subtitle span {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
.section-title {
	padding: 20px 0 20px 50px;
	margin-bottom: 50px;
	text-align: left;
}
.section-title h2 {
	font-size: 40px;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	font-weight: 800;
	color: rgb(50, 58, 69);
	position: relative;
	padding-bottom: 30px;
}
section.parallax-section.parallax-sec-half-left .section-title {
	text-align: right;
}
section.parallax-section.parallax-sec-half-left .section-title p {
	float: right;
}
section.parallax-section .section-title {
	padding-left: 0;
}
section.dark-bg .section-title h2 {
	color: #fff;
	padding-bottom: 50px;
}
section.parallax-section .section-title h2:before {
	content: '';
	position: absolute;
	left: 0;
	top: -50px;
	left: 0;
	width: 50px;
	height: 6px;
	background: rgba(255, 255, 255, 0.071);
	border: 1px solid rgba(255, 255, 255, 0.11);
}
section.parallax-section .section-title h2:after {
	content: '';
	position: absolute;
	bottom: 30px;
	left: 0;
	width: 50px;
	height: 1px;
	border-bottom: 1px dotted rgba(255, 255, 255, 0.21);
}
section.parallax-section.parallax-sec-half-left .section-title h2:before,
section.parallax-section.parallax-sec-half-left .section-title h2:after {
	left: inherit;
	right: 0;
}
section.parallax-section .section-title p {
	color: rgba(255, 255, 255, 0.71);
	max-width: 550px;
}
section .section-title p {
	max-width: 550px;
}
section.parallax-section .section-title:before {
	display: none;
}
.section-title h3 {
	position: relative;
	padding-bottom: 30px;
    text-align: left;
    font-weight: 600;
    font-size: 14px;
    position: relative;
	color: #999;
}
.section-title h3:before {
	content: '';
	position: absolute;
	bottom: 12px;
	left: 0;
	width: 50px;
	height: 1px;
	border-bottom: 1px dotted #666;
}
.section-subtitle {
	position: absolute;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	top: 50px;
	left: 40px;
	color: #ccc;
	right: 0;
	opacity: 0.15;
	text-align: left;
}
.section-subtitle.right-pos {
	right: 80px;
	text-align: right;
}
.section-title:before {
	content: '';
	position: absolute;
	top: 0;
	left: -2px;
	width: 4px;
	height: 100%;
}
.pr-title {
	padding: 0 20px 0 30px;
}
.pr-title:before {
	content: '';
	position: absolute;
	top: -10px;
	left: -2px;
	bottom: -10px;
	width: 4px;
}
.pr-title h3 {
	float: left;
	font-size: 24px;
	text-align: left;
	font-weight: 700;
	font-family: 'Poppins', sans-serif;
	position: relative;
}
.pr-title span {
	float: left;
	width: 100%;
	padding-top: 10px;
	color: #999;
    font-size: 11px;
    line-height: 24px;
    padding-bottom: 10px;
    font-weight: 500;
    color: #878C9F;
    font-family: 'Poppins', sans-serif;
	text-align:left;
}
.sec-lines {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	opacity: 1;
}
.line-item {
	float: left;
	width: 20%;
	height: 100%;
	box-sizing: border-box;
	border-right: 1px solid rgba(153, 153, 153, 0.1);
	height: 100%;
	position: relative;
}
.line-item:first-child:before {
	content: '';
	position: absolute;
	top: 0;
	right: -2px;
	width: 4px;
	height: 30px;
	animation: scroll3 8s ease-out infinite;
}
.line-item:last-child:before {
	content: '';
	position: absolute;
	bottom: 0;
	right: -2px;
	width: 4px;
	height: 30px;
	animation: scroll2 6s ease-out infinite;
}
.sec-lines .container {
	width:100%;
}
@keyframes scroll3 {
	0% {
		opacity: 1;
		top: 0
	}
	50% {
		top: 50%
	}
	100% {
		top: 100%;
		opacity: 0.5;
	}
}
@keyframes scroll2 {
	0% {
		opacity: 1;
		bottom: 0
	}
	50% {
		bottom: 50%
	}
	100% {
		bottom: 100%;
		opacity: 0.5;
	}
}
.line-item:first-child {
	border-left: 1px solid rgba(153, 153, 153, 0.09);
}
/*------about ------------------------------------------------*/
.collage-image {
	padding: 0 0 0 20px;
}
.collage-image img {
	position: relative;
	z-index: 2;
}
.collage-image-title {
	position: absolute;
	top: 80px;
	left: -20px;
	font-size: 11px;
	text-transform: uppercase;
	z-index: 3;
	color: rgba(255, 255, 255, 0.71);
	font-weight: 500;
	background: #2D2D32;
	padding: 15px 85px 15px 55px;
	letter-spacing: 10px;
}
.collage-image:before {
	content: '';
	position: absolute;
	top: 50px;
	left: -50px;
	right: 0;
	bottom: 50px;
	z-index: 1;
}
.main-about {
	padding-left: 30px;
}
.main-about h2 {
	text-align: left;
	font-weight: 700;
	font-size: 34px;
	color: #292929;
	font-family: 'Poppins', sans-serif;
	padding-bottom: 30px;
	position: relative;
}
.main-about h2 span {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #666;
}
.main-about h2:before {
	content: '';
	position: absolute;
	bottom: 15px;
	left: 0;
	width: 50px;
	height: 2px;
}
.main-about h2 a {
	color: #999;
}
.main-about p,
.main-about h5 {
	text-align: left;
}
.main-about h5 {
    text-align: left;
    font-weight: 600;
    font-size: 16px;
    position: relative;
    color: #999;
	line-height:16px;
    position: relative;
	padding-bottom: 16px;
}
.main-about .features-box-container {
	margin: 10px 0 10px;
}
.main-about .pr-list ul {
	margin-top: 0 !important;
}
.main-about .pr-list {
	margin-top: 20px;
	margin-bottom: 20px;
}
/*------features------------------------------------------------*/

.features-box-container {
	margin-top: 80px;
}
.no-margin {
	margin-top: 0;
}
.features-box {
	padding: 15px 20px 15px 100px;
	position: relative;
}
.features-box a {
	float: left;
	width: 100%;
	margin-top: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 800;
	font-size: 11px;
	position: relative;
	text-align: left;
	color: #666;
}
.features-box .time-line-icon {
	position: absolute;
	left: 40px;
	top: 20px;
}
.time-line-icon {
	position: relative;
}
.time-line-icon i {
	font-size: 34px;
}
.time-line-icon i:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 46px;
	margin: -23px 0 0 -50px;
	opacity: 0.2;
	background: url(../images/clouds.png) no-repeat center;
	z-index: -1;
}
.features-box h3 {
	text-align: left;
	font-weight: 600;
	font-size: 18px;
	padding-bottom: 18px;
	position: relative;
	color: #999;
}
.features-box h3:before {
	content: '';
	position: absolute;
	bottom: 4px;
	left: 0;
	width: 30px;
	height: 2px;
}
.features-box p {
	text-align: left;
}
.features-box ul li {
	float: left;
	width: 100%;
	text-align: left;
	margin-top: 20px;
}
.features-box ul li a {
	color: #666;
}


/*------ Video ------------------------------------------------*/

.mob-bg {
	display: none;
}
.video-box {
	overflow: hidden;
	border-radius: 10px;
	-webkit-transform: translate3d(0, 0, 0);
	box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 0.2);
}
.video-box-btn {
	position: absolute;
	width: 70px;
	height: 70px;
	line-height: 70px;
	margin: -35px 0 0 -35px;
	background: #fff;
	color: #fff;
	z-index: 20;
	left: 50%;
	top: 50%;
	box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 0.4);
	border-radius: 100%;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	transition: all 300ms linear;
}
.video-box-btn i {
	transform: scale(1.4);
}
.video-box-btn:hover {
	transform: scale(1.1);
}
.video-promo-text {
	padding-left: 50px;
}
.video-promo-text h3 {
	float: left;
	width: 100%;
	text-align: left;
	position: relative;
	font-size: 32px;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	font-weight: 800;
	color: rgba(255, 255, 255, 0.71);
	padding-bottom: 40px;
	margin-bottom: 30px;
}
.video-promo-text h3:before {
	content: '';
	position: absolute;
	bottom: 20px;
	left: 0;
	width: 50px;
	height: 2px;
}
.video-promo-text .h4{
	margin-top: 30px;
	margin-bottom: 0;
 font-size: 25px;
}
#lijnk{
	display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
/*------  Process / services ------------------------------------------------*/

.features-box-container.single-serv {
	margin-top: 0;
}
.features-box-container.single-serv .features-box {
	margin-bottom: 30px;
}
.process-wrap {
	margin-top:30px;
}
.process-wrap li {
	float: left;
	width: 33.3%;
	position: relative;
	padding: 15px 30px 35px 0;
}
.process-wrap li .process-details,
.serv-wrap .process-details {
	text-align: left;
	float: left;
	width: 100%;
	padding: 35px 40px 30px 40px;
	background: #f9f9f9;
	border: 1px solid #eee;
	position: relative;
}
.process-wrap li .process-details a,
.serv-wrap .process-details ul li {
	float: left;
	margin-top: 20px;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: 800;
	font-size: 11px;
	position: relative;
}
.serv-wrap .process-details ul li {
	margin-top: 10px;
	margin-right: 10px;
}
.process-wrap li h4,
.serv-wrap h4 {
	float: left;
	text-align: left;
	font-weight: 600;
	font-size: 18px;
	position: relative;
	color: #666;
	margin-bottom: 36px;
	padding-left: 80px;
}
.process-wrap li .process-details h6,
.serv-wrap .process-details h6 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #999;
	text-align: left;
	padding-bottom: 20px;
}
.process-wrap li h4:before,
.serv-wrap h4:before {
	content: '';
	position: absolute;
	left: 50%;
	right: -50px;
	bottom: -4px;
	top: -2px;
	background: #ccc;
	opacity: 0.2;
	z-index: -1;
}
.process-wrap li .time-line-icon,
.serv-wrap .time-line-icon {
	position: absolute;
	top: 10px;
	left: 5px;
}
.process-wrap li:before,
.serv-wrap:before {
	content: '';
	position: absolute;
	bottom: 10px;
	left: 110px;
	right: 20%;
	border-bottom: 1px dotted #ccc;
}
.process-wrap li:after,
.serv-wrap:after {
	font-family: Font Awesome\ 5 Pro;
	content: '\f101';
	position: absolute;
	bottom: 2px;
	right: 40px;
	color: #999;
	font-size: 16px;
}
.process-wrap li:last-child:after {
	color: #666;
	content: '\f00c';
}
.process-numder {
	position: absolute;
	bottom: -20px;
	left: 20px;
	z-index: 11;
	color: #f2f2f2;
	font-size: 60px;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
}
.srv-link-text {
	margin-top:10px;
}
.srv-link-text h4 {
	float: left;
	text-align: left;
    font-weight: 600;
    font-size: 18px;
    color: #666;
	position: relative;
	top: 15px;
	margin-right: 100px;
}
.serv-wrap {
	padding: 15px 30px 35px 0;
}
.serv-wrap .process-details .serv-img {
	position: absolute;
	top: -35px;
	right: 30px;
	width: 80px;
	height: 80px;
	border-radius: 100%;
	z-index: 10;
}
.serv-wrap .process-details .serv-img img {
	width: 80px;
	height: 80px;
	position: relative;
	z-index: 2;
	border-radius: 100%;
}
.serv-zoom {
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	z-index: 10;
	text-align: center;
	line-height: 50px;
	background: rgba(51, 51, 51, 0.41);
	-webkit-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	opacity: 0;
	visibility: hidden;
}
.serv-wrap .process-details .serv-img:hover .serv-zoom {
	visibility: visible;
	opacity: 1;
}
.serv-wrap .serv-img:before {
	content: '';
	position: absolute;
	top: -8px;
	left: -8px;
	bottom: -8px;
	right: -8px;
	z-index: 1;
	border-radius: 100%;
	background: #fff;
	border: 1px solid #eee;
}
.serv-carousel .slick-list {
	padding: 0 !important;
}
.serv-carousel-item {
	float: left;
	width: 100%;
	margin: 0;
}
.hidden-info-wrap-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 30%;
}
.hidden-info-wrap {
	float: right;
	width: 70%;
	bottom: 0;
	background: #2A2A2E;
	z-index: 20;
	padding: 70px 0;
	min-height: 100vh;
}
.hidden-info-title {
	margin-bottom: 70px;
	color: #fff;
	text-align: left;
	font-size: 14px;
	letter-spacing: 4px;
	color: #888;
	text-transform: uppercase;
	padding-left: 150px;
}
.hidden-works-item {
	padding: 25px 150px;
	position: relative;
}
.serv-works-item {
	padding: 40px 150px;
}
.hidden-works-item:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.03);
	opacity: 0;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}
.hidden-works-item:hover:before,
.hidden-works-item.act-index:before,
.hidden-works-item.act-index .serv-icon {
	opacity: 1;
}
.hidden-works-item-media {
	float: left;
	width: 20%;
	position: relative;
}
.hidden-works-item-media span,
.serv-number {
	width: 50px;
	height: 50px;
	line-height: 50px;
	position: absolute;
	left: -90px;
	top: 50%;
	margin-top: -25px;
	color: rgba(255, 255, 255, 0.41);
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
}
.hidden-works-item-media-img {
	overflow: hidden;
}
.hidden-works-item-media-img a {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 50px;
	line-height: 50px;
	background: rgba(51, 51, 51, 0.81);
	border-radius: 100%;
	z-index: 5;
	margin: -25px 0 0 -25px;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
	-webkit-transform: scale(0);
	transform: scale(0);
	visibility: hidden;
}
.hidden-works-item:hover .hidden-works-item-media-img a {
	-webkit-transform: scale(1.0);
	transform: scale(1.0);
	visibility: visible;
}
.hidden-works-item-media img {
	width: 100%;
	height: auto;
}
.hidden-works-item:after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 100px;
	left: calc(20% + 190px);
	height: 1px;
	border-bottom: 1px dotted rgba(255, 255, 255, 0.11);
}
.hidden-works-item-text {
	float: left;
	width: 80%;
	position: relative;
	padding-left: 100px;
}
.serv-works-item .hidden-works-item-text {
	padding-left: 0;
	width: 100%;
}
.hidden-works-item-text h3 {
	text-align: left;
	font-size: 24px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	padding-top: 20px;
	margin-bottom: 12px;
	color: #fff;
	position: relative;
}
.serv-works-item .hidden-works-item-text h3 {
	padding-top: 0;
}
.serv-works-item .hidden-works-item-text h3:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 50px;
	height: 2px;
}
.serv-works-item .hidden-works-item-text h3 {
	padding-bottom: 12px;
	margin-bottom: 22px;
}
.serv-icon {
	position: absolute;
	right: 10%;
	bottom: 0px;
	font-size: 98px;
	color: rgba(255, 255, 255, 0.11);
	z-index: 1;
	-webkit-transition: all 500ms linear;
	transition: all 500ms linear;
	opacity: 0;
}
.hidden-works-item-text p {
	float: left;
	max-width: 500px;
	color: #888;
	text-align: left;
	margin-top: 20px;
}
.hidden-works-item-text h3 a {
	color: #fff;
}
.hidden-works-item-text ul li {
	float: left;
	margin-right: 20px;
}
.hidden-works-item-text ul li a {
	color: #888;
	font-size: 10px;
	letter-spacing: 2px;
	text-align: left;
	text-transform: uppercase;
}
.serv-price {
	margin: 20px 0;
	color: #fff;
	text-align: left;
	float: left;
	padding: 10px 50px;
	border: 1px solid rgba(255, 255, 255, 0.21);
}
.hidden-works-item-dec {
	position: absolute;
	right: 100px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	top: 50%;
	margin-top: -25px;
	opacity: 1;
	color: rgba(255, 255, 255, 0.41);
	-webkit-transition: all 500ms linear;
	transition: all 500ms linear;
}
.hidden-info-pagination {
	float: left;
	margin-top: 70px;
	padding-left: 150px;
	position: relative;
}
.hidden-info-pagination span {
	font-weight: 600;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 2px;
	color: #8B8B8B;
	position: relative;
}
.hidden-info-pagination:hover span:before {
	left: 20%;
}
.hidden-info-pagination i {
	margin-left: 30px;
}
.hidden-info-pagination span:before {
	content: '';
	position: absolute;
	left: 70%;
	right: -80px;
	top: -12px;
	bottom: -12px;
	background: rgba(255, 255, 255, 0.081);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.bg-ser {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	overflow: hidden;
}
.bg-ser .bg {
	opacity: 0;
	will-change: opacity, transform;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 1200ms linear;
	transition: all 1200ms linear;
}
.bg-ser .bg.active {
	opacity: 1;
	left: 0;
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}
/* ---------Resume  --------------------------------------*/
.custom-inner-holder {
	float: left;
	margin-top: 40px;
	width: 100%;
	padding-bottom:80px;
	border-bottom:1px solid #eee;
	margin-bottom:20px !important;


}
.custom-inner {
	float: left;
	width: 100%;
	position: relative;
	margin-bottom: 50px;
}
.custom-inner:last-child {
	margin-bottom: 0;
}
.custom-inner-header h3 {
	float: left;
	padding-bottom: 12px;
	font-weight: 600;
	font-size: 14px;
	text-align: left;
	font-family: 'Poppins', sans-serif;
}
.custom-inner-header {
	float: left;
	width: 100%;
	position: relative;
	padding: 30px 10px 30px 80px;
	border: 1px solid #eee;
	background: #f9f9f9;
}
.custom-inner-header:after {
	font-family: Font Awesome\ 5 Pro;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	color: #666;
	bottom: 10px;
	font-size: 70px;
	right: 10px;
	opacity: 0.08;
}
.custom-inner-header.educ:after {
	content: "\f1c8";
}
.custom-inner-header.workres:after {
	content: "\f0e8";
}
.custom-inner-header:before {
	content: '';
	position: absolute;
	top: 50%;
	left: -26px;
	width: 10px;
	height: 4px;
	margin-top: -2px;
}
.custom-inner-header span {
	font-size: 13px;
	text-transform: uppercase;
	width: 100%;
	color: #666;
	text-align: left;
	float: left;
	font-weight: 600;
}
.custom-inner-header i {
	width: 40px;
	height: 40px;
	line-height: 40px;
	position: absolute;
	border-radius: 4px;
	top: 50%;
	left: 15px;
	color: #fff;
	font-size: 12px;
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(250, 250, 250, 0.2)));
	margin-top: -20px;
}
.custom-inner-content {
	padding: 35px 30px 45px;
	background: #f9f9f9;
	border: 1px solid #eee;
}
.cus-inner-head-link {
	position: absolute;
	right: 0;
	bottom: 0;
	color: #fff;
	padding: 14px 40px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	font-size: 10px;
	border-top-left-radius:6px;
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.36);
}
.cus-inner-head-link:hover {
	color:#666;
}
.custom-inner h4 {
	float: left;
	width: 100%;
	padding-bottom: 20px;
	font-weight: 600;
    font-size: 14px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}
.custom-inner p {
	text-align: left;
}
.custom-inner ul {
	float: left;
	width: 100%;
	padding: 10px 0 10px 13px;
	list-style: decimal;
}
.custom-inner ul li {
	float: left;
	width: 100%;
	padding: 5px 0 5px 10px;
	text-align: left;
	font-weight: 800;
	color: #666;
}
.custom-inner .content-nav ul {
	position: relative;
	left: 0;
	padding: 0;
	list-style: none;
}
.custom-inner .content-nav ul li {
	float: left;
	width: 50%;
	padding: 0;
}
.custom-inner .btn {
	margin-top: 20px;
}
.features-box a:before {
	content: '';
	position: absolute;
	bottom: -10px;
	left: 0;
	width: 100%;
	height: 1px;
	border-bottom: 1px dotted #ccc;
}

@media only screen and (max-width: 1064px) {
	.content {
		padding-left: 0;
	}

	.scroll-down-wrap, .header-social, .height-emulator,  .footer-title, .nav-title, .single-page-decor, .single-page-fixed-row, .album-thumbnails  , .contact-btn , .single-page-fixed-row.blog-single-page-fixed-row  .scroll-down-wrap {
		display: none;
	}
	.custom-inner img {
    	transform: translateY(0px) !important;
	}
	.scroll-nav-wrap {
		left: 0;
	}
	.scroll-nav {
		padding: 23px 20px 0;
	}
	.scroll-nav li {
		margin-right: 0;
	}
	.collage-image,
	.footer-box {
		margin-bottom: 50px;
	}
	.process-wrap li {
		width: 50%;
	}
	.main-footer {
		position: relative;
		float: left;
		width: 100%;
		left: 0;
		overflow: hidden;
	}
	.footer-inner {
		padding: 50px 0 20px;
	}
	.main-about,
	.video-promo-text,
	.custom-inner-holder,
	.fs-carousel-wrap {
		padding-left: 0;
	}
	.subfooter {
		padding: 0;
	}
}
@media only screen and (max-width: 768px) {
	
	#sec1{
		margin-top: 50px;
	}
	.content-nav li {
		width: 100%;
		border-left: none;
	}
	.section-title h2 {
		font-size: 34px;
	}
	.main-about h2 {
		font-size: 24px;
	}
	.collage-image {
		padding-left:0;
	}
	section {
		padding:70px 0;
	}
}
@media only screen and (max-width: 564px) {
	.half-hero-wrap {
		top: 25%;
	}
	.half-hero-wrap h1 {
		font-size: 26px;
		line-height: 40px;
	}
	.half-hero-wrap h4,
	.hero-decor-let,
	.hero-decor-numb,
	.show-info,
	.album-list-title,
	.time  , .blog-filters span{
		display: none;
	}
	.half-hero-wrap .btn {
		margin-top: 20px !important;
	}
	.client-list li {
		width: 50%;
	}
	.client-list li a {
		padding: 15px 20px;
	}
	.half-hero-wrap {
		left: 0;
		padding: 0 100px 0 20px;
	}
	.gallery-item {
		width: 100% !important;
	}
	.team-box , .blog-search , .blog-btn-filter , .blog-btn  , 	.soon-wrap .countdown-item   , .verify-text{
		width: 100%;
	}
	.verify-text {
		float:left;
		margin-bottom:15px;
	}
	.hidden-works-item {
		padding: 25px 20px;
	}
	.hidden-info-pagination {
		padding-left: 20px;
	}
	.show-case-slider-wrap {
		height: 300px;
	}
	.show-case-item {
		height: 220px !important;
	}
	.show-case-slider-wrap-style2 .show-case-item {
		height: 300px !important;
	}
	.single-project-title h2 {
		font-size: 26px;
	}
	.playlist-wrap ol li {
		padding: 20px 0 20px 40px;
	}
	.playlist-wrap ol li:before {
		width: 40px;
	}
	.playlist-wrap ol li a.audio-link {
		padding-right: 30px;
	}
	.playlist-wrap ol li a.downbuy-link {
		right: 20px;
	}
	.srv-link-text h4 {
		margin-bottom: 30px;
	}
	.gallery-filters a {
		width: 100%;
		text-align: left;
	}
	.inline-facts-wrap {
		width: 100%;
	}
	.soon-wrap .half-hero-wrap  {
    	padding: 0 50px 30px 40px;
		margin-bottom:70px;
		top:17%;
	}
	.soon-wrap .countdown-item {
		margin-right:0;
	}
	.cs-wrap .subcribe-form {
		width:300px;
	}
	.blog-btn-filter  {
		margin-bottom:10px;
	}
	.blog-search  {
		margin-top:30px;
	}
	.tag-filter {
		z-index:5;
	}
	.error-wrap h2 {
		font-size:89px;
	}
	.process-wrap {
		margin-top:0;
	}
	.process-wrap li {
		padding: 15px 0 35px 0;
		margin-bottom:50px;
	}
	.process-wrap li:last-child {
		margin-bottom:0;
	}
	.process-numder {
		left:0;
		bottom:-40px;
		font-size:50px;
	}
	.process-wrap li:before {
		bottom:0px;
		left:80px;
	}
	.process-wrap li:after{
		right:0;
		bottom:-6px;
	}
	.text-carousel .text-carousel-item {
		padding:30px 20px;
	}
	.text-carousel .slick-item {
		padding: 0;
	}
	.text-carousel-controls{
		padding-left:8px;
	}
	.section-title {
		padding-left:30px;
	}
	.section-title h2 {
		font-size: 26px;
	}
	.custom-form button {
		margin-top:30px;
	}
	.custom-form .verify-wrap .selectbox  , .pr-title{
		margin:0;
	}
	.fw-map-container {
		margin-bottom:20px !important;
	}
	.team-box  {
		padding:10px 0;
	}
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.bg {
		background-attachment: scroll !important;
		-webkit-background-size: cover;
		background-position: center;
	}
}

.form-wrapper{
	margin-top: 75px;
	margin-bottom: 20px;
}
.file-area {
	width: 100%;
	position: relative;
}
.file-area input[type=file] {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	cursor: pointer;
	color: white;
}
.file-area .file-dummy {
	width: 100%;
	padding: 30px;
	background: rgba(255, 255, 255, 0.2);
	/* border: 0.15rem solid rgba(255, 255, 255, 0.2); */
	text-align: center;
	transition: background 0.3s ease-in-out;
}
.file-area .file-dummy .success {
	display: none;
}
.file-area:hover .file-dummy {
	background: rgba(255, 255, 255, 0.1);
}
.file-area input[type=file]:focus + .file-dummy {
	/* outline: 2px solid rgba(255, 255, 255, 0.5); */
	/* outline: -webkit-focus-ring-color auto 5px; */
}
.file-area input[type=file]:valid + .file-dummy {
	/* border-color: rgba(250, 201, 33, 0.4); */
	/* background-color: rgba(250, 201, 33, 0.3); */
}
.file-area input[type=file]:valid + .file-dummy .success {
	display: inline-block;
}
.file-area input[type=file]:valid + .file-dummy .default {
	display: none;
}

.text-white{
	color: #fff;
}
.invalid-image{
	border: 0.15rem solid !important;
	border-color:#7b0707 !important;
	border-radius:5px;
}
.invalid-caps{
	color:#af1111 !important;
	font-weight :bold;
}
#mobile{
	display: none;
}
@media only screen and (max-width: 600px) {
	#mobile {
		display: block;
	}
	#desktop{
		display: none;
	}
	.mobile-nav{
		display: flex;
		flex-direction: column;
	}
	.video-promo-text{
		margin-top: 25px;
	}
  }
.mob-nav-wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
}
.mob-nav{
	display: none;
	width: 100%;
	/* height: 0; */
	overflow: hidden;
}
.mob-nav-height{
	height: auto;
}
#logo{
	margin-left: 20px;
    /* top: 8px; */
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    color: #8B8B8B;
}
#ham{
	margin-right: 20px;
	/* margin-top: 15px; */
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 2px;
    color: #8B8B8B;
}
